@font-face {
  font-family: "Ubuntu-Bold";
  src: url("assets/fonts/Ubuntu-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu-Medium";
  src: url("assets/fonts/Ubuntu-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu-Regular";
  src: url("assets/fonts/Ubuntu-Regular.ttf") format("truetype");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsla(206, 94%, 87%, 0.5);
}

main {
  margin: 0 auto;
}

header {
  background-image: url("assets/images/bg-sidebar-mobile.svg");
  background-size: cover;
  display: flex;
  justify-content: center;
}

.step-info {
  display: none;
}

.steps {
  list-style: none;
  display: flex;
  gap: 0.75rem;
  padding: 2rem 0 5rem;
}

.step-number {
  display: flex;
  border: 1px white solid;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-family: "Ubuntu-Bold", Arial;
  color: white;
  padding: 0.35rem 0.6rem;
  font-size: 0.75rem;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.step-number.active {
  border: 1px hsl(206, 94%, 87%) solid;
  color: black;
  background-color: hsl(206, 94%, 87%);
}

.step-name {
  font-family: "Ubuntu-Bold", Arial;
  color: white;
  font-size: 0.75rem;
  letter-spacing: 0.03rem;
}

.step-title {
  font-family: "Ubuntu-Medium", Arial;
  color: hsl(231, 11%, 63%);
  font-size: 0.75rem;
}

.page-1,
.page-2 {
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.75rem;
  margin: 0 1rem;
  padding: 1.5rem 1.25rem;
  top: 15%;
  left: 0;
  right: 0;
  box-shadow: 0 10px 10px -10px lightgrey;
}

.personal-info {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.page-title {
  font-family: "Ubuntu-Bold", Arial;
  font-size: 1.25rem;
  color: hsl(213, 96%, 18%);
}

.page-description {
  font-family: "Ubuntu-Regular", Arial;
  color: hsl(231, 11%, 63%);
  font-size: 0.875rem;
  padding: 0.5rem 0 1rem;
  padding-right: 5rem;
}

.name-label,
.email-label,
.phone-label {
  font-family: "Ubuntu-Medium", Arial;
  font-size: 0.75rem;
  line-height: 1.75rem;
  color: hsl(213, 96%, 18%);
}

.name-textarea,
.email-textarea,
.phone-textarea {
  resize: none;
  outline: none;
  border: 1px solid hsl(231, 11%, 63%, 50%);
  font-family: "Ubuntu-Bold";
  color: hsl(213, 96%, 18%);
  border-radius: 3px;
  width: 100%; /*Any better way?*/
  padding: 0.5rem 0.75rem;
}

.name-textarea::placeholder,
.email-textarea::placeholder,
.phone-textarea::placeholder {
  color: hsl(231, 11%, 63%);
}

.next-step-container {
  display: flex;
  align-items: center;
  justify-content: end;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 1rem;
  padding-left: 0.5rem;
}

.next-step-container.both-buttons {
  justify-content: space-between;
}

.previous-step-button {
  border: none;
  background-color: transparent;
  font-family: "Ubuntu-Medium", Arial;
  color: hsl(231, 11%, 63%);
  padding: 0.5rem;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.previous-step-button:hover {
  color: hsl(213, 96%, 18%);
}

.next-step-button {
  border-color: transparent;
  border-radius: 0.25rem;
  background-color: hsl(213, 96%, 18%);
  color: white;
  font-family: "Ubuntu-Regular", Arial;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.next-step-button:hover {
  background-color: hsl(213, 96%, 18%, 85%);
}

/* .page-1.appear,
.page-2.appear {
  display: initial;
}

.page-1.show,
.page-2.show {
  transform: translate(0, 0);
}

.page-1,
.page-2 {
  display: none;
  transform: translate(110%, 0);
  transition: transform 0.3s ease-in-out;
} */

.page-1.appear,
.page-2.appear {
  display: initial;
}

.page-1.show,
.page-2.show {
  opacity: 1;
}

.page-1,
.page-2 {
  display: none;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.previous-step-button.appear {
  display: initial;
}

.previous-step-button {
  display: none;
  opacity: 0;
  transform: translate(110%, 0);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.previous-step-button.show {
  transform: translate(0, 0);
  opacity: 1;
}

.plan-info {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.plan-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.75rem;
  background-color: transparent;
  border-radius: 0.5rem;
  border: 1px solid hsl(231, 11%, 63%, 50%);
  gap: 1rem;
  transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

.plan-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.25rem;
}

.plan-name {
  font-family: "Ubuntu-Bold", Arial;
  color: hsl(213, 96%, 18%);
  font-size: 0.875rem;
}

.plan-cost {
  font-family: "Ubuntu-Regular", Arial;
  color: hsl(231, 11%, 63%);
  font-size: 0.75rem;
}

.plan-button svg {
  grid-column-start: 1;
  grid-row-start: span 2;
}

.period-container {
  background-color: hsla(228, 100%, 84%, 25%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.5rem;
  margin-top: 1rem;
  padding: 1rem;
}
.monthly,
.yearly {
  font-family: "Ubuntu-Bold", "Arial";
  color: hsl(231, 11%, 63%);
  font-size: 0.875rem;
  transition: color 0.3s ease-in-out;
}

.yearly.active,
.monthly.active {
  color: hsl(213, 96%, 18%);
}

.switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.625rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(213, 96%, 18%);
  transition: 0.3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.25rem;
  width: 1.25rem;
  left: 0.25rem;
  bottom: 0.2rem;
  background-color: white;
  transition: 0.3s;
}

.switch input:checked + .slider:before {
  transform: translateX(1.25rem);
}

.slider.round {
  border-radius: 2rem;
}

.slider.round:before {
  border-radius: 50%;
}

.arcade,
.advanced,
.pro {
  position: relative;
}

.arcade input,
.advanced input,
.pro input {
  position: absolute;
  opacity: 0;
}

.arcade input:checked + .plan-button,
.advanced input:checked + .plan-button,
.pro input:checked + .plan-button {
  border-color: hsl(213, 96%, 18%);
  background-color: hsla(228, 100%, 84%, 25%);
}

.plan-button:hover {
  border-color: hsl(213, 96%, 18%);
  background-color: hsla(228, 100%, 84%, 25%);
}

.plan-cost.arcade,
.plan-cost.advanced,
.plan-cost.pro {
  transition: opacity 0.3s ease-in-out;
}

.yearly-discount {
  display: none;
  font-family: "Ubuntu-Regular", Arial;
  color: hsl(213, 96%, 18%);
  font-size: 0.75rem;
  transition: opacity 0.3s e ase-in-out;
}

.yearly-discount.active {
  display: block;
}

@media only screen and (min-width: 700px) {
  body {
    display: flex;
    align-items: center;
    min-height: 100vh;
  }

  main {
    display: grid;
    grid-template: 1fr / 1fr 2fr;
    background-color: white;
    justify-content: space-between;
    width: 700px;
    border-radius: 0.5rem;
    padding: 0.75rem;
    box-shadow: 0 10px 10px -10px lightgrey;
  }

  header {
    background-image: url("assets/images/bg-sidebar-desktop.svg");
    background-repeat: no-repeat;
    border-radius: 0.5rem;
    padding-left: 1rem;
    padding-right: 4rem;
  }

  .page-content {
    padding: 2rem 4rem 0rem;
  }

  .page-1,
  .page-2 {
    position: initial;
    padding: 0;
    margin: 0;
    box-shadow: none;
  }

  .next-step-container {
    position: initial;
    padding-top: 4rem;
  }

  .page-description {
    padding-right: 0;
  }

  .steps {
    flex-direction: column;
    gap: 1.5rem;
  }

  .steps li {
    display: flex;
    align-items: center;
  }
  .step-info {
    display: block;
    padding-left: 0.75rem;
  }

  .plan-info {
    display: grid;
    grid-template: auto / 1fr 1fr 1fr;
    gap: 1rem;
  }

  .plan-button {
    flex-direction: column;
    align-items: first baseline;
    gap: 2.5rem;
  }

  .slider:before {
    bottom: 0.175rem;
  }
}
